body {
    background: white;
    color: #000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1, .byline {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.byline {
    color: #333;
    font-size: 1.5rem;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 40em;
    padding-top: 4em;
}

p {
    line-height: 1.5;
}

a {
    color: #b97c2c;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.6s;
}

a:hover {
    color: black;
    transition: color 0.1s;
}

strong {
    font-weight: 700;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
}

/* first choice */
:not(.choice) + .choice {
    padding-top: 1em;
}

/* Built in class if you want to write:
     The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
